src/__pycache__/Satellite.cpython-313.pyc
src/__pycache__/Satellite.cpython-311.pyc
src/OrbitFetcher.so
src/__pycache__/Satellite.cpython-314.pyc
src/config.txt
src/__pycache__/Satellite.cpython-314.pyc
